@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html {
  font-family: 'Open Sans', sans-serif;
  background-color: #eee;
  color: #333;
  padding: 1.75em;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

.demo {
  max-width: 800px;
  border: solid 5px #00a3ff;
  padding: 1em;
  font-size: 1em;
  margin: 0 auto;
  margin-top: 1em;
  position: relative;
}

code {
  background-color: white;
  padding: 2px;
}

.explanation {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 2em;
  border-top: solid 3px;
  padding-top: 1em;
}
